<a href="https://colab.research.google.com/github/KJ-7/DemoRepo2/blob/master/DS%26APrep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a code to analyse expenses over time
Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [15]:
expenses = [
    ["January", 2200],
    ["February", 2350],
    ["March", 2600],
    ["April", 2130],
    ["May", 2190],
    ["July", 2000]
]

In [16]:
# 1 In Feb, how many dollars you spent extra compare to January?
extra_dollars = expenses[1][1]-expenses[0][1]
extra_dollars

150

In [17]:
# 2 Find out your total expense in first quarter (first three months) of the year.
total_expenses = expenses[0][1]+expenses[1][1]+expenses[2][1]
total_expenses

7150

In [18]:
# 3 Find out if you spent exactly 2000 dollars in any month
any2000 = False
month2000 = ""
for n in range(len(expenses)):
    if (expenses[n][1] == 2000):
        any2000 = True
        month2000 = expenses[n][0]
        break
if any2000:
  print("There is a month you spent exactly 2000, and it was in "+ month2000)
else:
  print("There is no month you spent exactly 2000")

There is a month you spent exactly 2000, and it was in July

In [21]:
# 4 June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expenses.append(["June", 1980])
expenses

[['January', 2200],
 ['February', 2350],
 ['March', 2600],
 ['April', 2130],
 ['May', 2190],
 ['July', 2000],
 ['June', 1980]]

In [22]:
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
for n in range(len(expenses)):
    if expenses[n][0] == "April":
        expenses[n][1] += 200
expenses

[['January', 2200],
 ['February', 2350],
 ['March', 2600],
 ['April', 2330],
 ['May', 2190],
 ['July', 2000],
 ['June', 1980]]

heros=['spider man','thor','hulk','iron man','captain america']
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [23]:
heros = ['spider man','thor','hulk','iron man', 'captain america']

In [24]:
# 1. Length of the list
heros_len = len(heros)
heros_len

5

In [26]:
# 2 Add 'black panther' at the end of this list
heros.append('black panther')
heros

['spider man',
 'thor',
 'hulk',
 'iron man',
 'captain america',
 'black panther',
 'black panther']

In [27]:
# Added black panther twice, so deleting the last one
heros.pop()

'black panther'

In [28]:
# Checking how heros look like now
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [31]:
# 3 You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
heros.pop()
heros.insert(3, 'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther']

In [32]:
heros.append('iron man')
heros.append('captain america')

In [33]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [34]:
# 4  Now you don't like thor and hulk because they get angry easily :)
# So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.
heros = ['doctor strange' if name in ('thor', 'hulk') else name for name in heros]

In [35]:
heros

['spider man',
 'doctor strange',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [38]:
heros = ['kevine' if name in ('doctor strange', 'iron man') else name for name in heros]
heros

['spider man',
 'kevine',
 'kevine',
 'black panther',
 'kevine',
 'captain america']

In [39]:
heros = ['we got this' if name in ('captain america', 'spider man')else name for name in heros]
heros

['we got this', 'kevine', 'kevine', 'black panther', 'kevine', 'we got this']

In [40]:
# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

heros.sort()

In [41]:
heros

['black panther', 'kevine', 'kevine', 'kevine', 'we got this', 'we got this']

In [43]:
heros[1:3] = ['Mask man']
heros

['black panther',
 'Mask man',
 's',
 'k',
 ' ',
 'm',
 'a',
 'n',
 'kevine',
 'we got this',
 'we got this']

In [46]:
heros

['black panther',
 'Mask man',
 ' ',
 'a',
 'n',
 'kevine',
 'we got this',
 'we got this']

In [48]:
heros

['black panther',
 'Mask man',
 ' ',
 'a',
 'n',
 'kevine',
 'we got this',
 'we got this']

In [49]:
#
heros.remove(' ')
heros.remove('a')
heros.remove('n')

In [50]:
heros

['black panther', 'Mask man', 'kevine', 'we got this', 'we got this']